@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  font-family: 'Ubuntu', sans-serif;
}

/* file upload */
.upload-caption {
    padding: 10px;
    background: #3490dc;
    display: table;
    color: #ffffff;
    border: 1px solid #fff;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
 }
.fileinput {
    display: none;
}
.img-preview {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
}


.border_f {
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.border_b {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.fl_tag {
    font-size: 12px;
    border: 1px solid #accdbb;
    border-radius: 3px;
    padding: 0px 3px;
}

.no_decoration {
    text-decoration: none;
}

.fl_avatar {
    max-width: 50px;
}

.billing-cycle .nav-link:not(.active) {
  background-color: white;
}


// font size
.f-12 {font-size: 12px;}
.f-20 {font-size: 20px;}
.f-30 {font-size: 30px;}
.f-50 {font-size: 50px;}


// background-colors
.bg-lightcyan { background-color: $light-cyan; }
.bg-lightcyan2 { background-color: $light-cyan2; }
.w-m-25 {min-width: 25px;}


.cursor_pointer {cursor: pointer;}
